@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --color-primary: #8789c0;
  --color-large: #45f0df;
  --color-small: #c2cae8;
  --color-section: #8380b6;
  --color-div: #111d4a;
  --font-size:16px;
}
*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* Header */

.nav-container {
  width: 98%;
  margin: 0 auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(14, 14, 14, 0.5);
  height: 100vh;
  width: 100%;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: left;
  z-index: 1000;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
  display: none;
}
/* End of Header */

/* main container */

.container-fluid {
  background-color: var(--color-large);
  width: 100%;
  padding: 25px;
}
.container-fluid h1 {
  text-align: center;
  letter-spacing: 8px;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}
.section-songs {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: minmax(150px, auto);
  gap: 15px;
  margin: 25px 0;
}

.item:nth-of-type(even) {
  background-color: #fff;
}
.item:nth-of-type(even) p {
  color: rgb(36, 31, 31);
}
.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-primary);
  gap: 10px;
  padding: 25px 12.5px;
  color: var(--color-div);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
  transition: all 0.7s ease-in-out;
}
.item:hover img {
  transform: scale(1.05);
  filter: blur(0px);
}
.item:hover {
  background-color: var(--color-div);
  color: var(--color-small);
}

.item img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  filter: blur(1.09px);
  transition: all 0.7s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.item p {
  color: white;
  transition: all 0.4s ease-in-out;
  font-weight: bold;
}
.item p:hover {
  color: rgb(239, 13, 47);
  transform: scale(1.1);
  font-weight: 900;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  .section-songs {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: minmax(200px, auto);
    gap: 25px;
  }
}
/* tablet size */
@media screen and (max-width: 920px) {
  .section-songs {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(200px, auto);
    gap: 25px;
  }
  .item img {
    object-fit: cover;
    width: 180px;
    height: 180px;
    border-radius: 50%;
  }
}
/* mobile first */
@media screen and (max-width: 768px) {
  .section-songs {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: minmax(150px, auto);
    gap: 25px;
  }
}
/* mobile-second */
@media screen and (max-width: 600px) {
  .section-songs {
    grid-template-columns: repeat(1, 1fr);
    gap: 35px;
  }
}
/* section-video */

.video-content {
  margin: 85px 0 !important;
}
.section-video h1 {
  text-align: center;
  margin-bottom: 25px;
}
.video-item {
  padding: 25px 0;
  display: grid;
  gap: 35px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(200px, auto) !important;
  gap: 15px;
}
.videos-grid-video{
  padding: 15px 0;
}
@media screen and (max-width: 992px) {
  .video-item {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .video-item {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* end of section-video */
/* end of main container */

/* footer */
.page-footer {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 18px;
  letter-spacing: 3px;
  background-color: var(--color-section);
  padding: 30px 15px;
}
.page-footer .span-footer {
  color: var(--color-small) !important;
  font-size: 18.5px;
  margin: 0 5px;
}
/* end of footer */
